<html>
  <head>
    <meta charset="utf-8">
    <title>Ask Jeeves</title>
  </head>
  <body>
    <h2>Hello, I am Jeeves</h2>
    <form action="/analyze" method="post">
      <input type="text" name="question"/>
      <input type="submit" value="Ask Jeeves">
    </form>
  </body>
</html>
