
<html>
  <head>
    <meta charset="utf-8">
    <title>You Asked Jeeves</title>
  </head>
  <body>
    <div>
      <h3>Rule Match</h3>
    </div>
    <div>
      <hr />
      <h3>raw data</h3>
      <div><%= @raw_data %></div>
    </div>
  </body>
</html>
